<!-- LOGO -->

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
/>


<div class="logo1">
  <img src="{{logo1.image}}" alt="Clinic Logo">
</div>


<!-- SLIDER -->
<section class="slider">
  <div class="slides">
    {{#each slider.items}}
      <div class="slide {{#if @first}}active{{/if}}">
        <img src="{{this.image}}" alt="{{this.heading}}">
        <div class="overlay">
          <h2>{{this.heading}}</h2>
          <p>{{this.subtext}}</p>
        </div>
      </div>
    {{/each}}
  </div>

  <button class="prev">❮</button>
  <button class="next">❯</button>
</section>


<!-- ABOUT SECTION -->
<section class="about">
  {{#each about.items}}
    <div class="about-item">
      <img src="{{this.image}}" alt="{{this.title}}">

      <div class="about-text">
        <h2>{{this.title}}</h2>

        <!-- If using content_html in YML -->
        {{#if this.content_html}}
          <div class="about-content">
            {{{this.content_html}}}
          </div>
        {{else}}
          <p>{{this.description}}</p>
        {{/if}}

       
      </div>
    </div>
  {{/each}}
</section>


<!-- DOCTORS -->
<!-- DOCTORS -->
<section class="doctors">
  <h2>{{doctors.title}}</h2>
  <p>{{doctors.subtitle}}</p>

  <div class="cards">
    {{#each doctors.items}}
      <div class="card">
        <img src="{{this.image}}" alt="{{this.name}}">
        <h3>{{this.name}}</h3>
        <p class="specialization">{{this.specialization}}</p>
        <p>{{this.bio}}</p>

        <!-- SOCIAL LINKS -->
        {{#if this.social}}
		<div class="social-icons">
		  {{#if this.social.instagram}}
			<a href="{{this.social.instagram}}" target="_blank">
			  <i class="fab fa-instagram"></i>
			</a>
		  {{/if}}

		  {{#if this.social.facebook}}
			<a href="{{this.social.facebook}}" target="_blank">
			  <i class="fab fa-facebook"></i>
			</a>
		  {{/if}}

		  {{#if this.social.youtube}}
			<a href="{{this.social.youtube}}" target="_blank">
			  <i class="fab fa-youtube"></i>
			</a>
		  {{/if}}

		  {{#if this.social.gmail}}
			<a href="mailto:{{this.social.gmail}}">
			  <i class="fas fa-envelope"></i>
			</a>
		  {{/if}}
		</div>

        {{/if}}

      </div>
    {{/each}}
  </div>
</section>


<!-- PASS SLIDER SPEED TO JS -->
<script>
  window.autoSlideTime = {{slider.auto_slide_ms}};
</script>

<script src="css/aboutus.js"></script>
