<section class="gallery-section">
  <div class="gallery-grid">
    {{#each groups}}
      <figure class="gallery-card">
        
        <!-- GROUP CAPTION -->
        {{#if this.caption}}
          <figcaption class="group-caption">
            {{this.caption}}
          </figcaption>
        {{/if}}

        <!-- IMAGE LIST -->
        <div class="group-images">
          {{#each this.images}}
            <img 
              src="{{this}}" 
              alt="../gallery image"
              onclick="openLightbox('{{this}}', '{{../caption}}')"
            >
          {{/each}}
        </div>

      </figure>
    {{/each}}
  </div>
</section>

<!-- LIGHTBOX -->
<div id="lightbox" class="lightbox" onclick="closeLightbox()">
  <span class="lightbox-close">&times;</span>
  <img id="lightbox-img">
  <p id="lightbox-caption"></p>
</div>


<script>
function openLightbox(src, caption) {
  const box = document.getElementById('lightbox');
  document.getElementById('lightbox-img').src = src;
  document.getElementById('lightbox-caption').innerText = caption || '';
  box.style.display = 'flex';
}

function closeLightbox() {
  document.getElementById('lightbox').style.display = 'none';
}
</script>
