<header class="site-header">
  <h1>{{hero.title}}</h1>
  <p>{{hero.subtitle}}</p>
</header>



<section class="site-header">
  <h2>{{Treatment.title}}</h2>
  <p>{{Treatment.text}}</p>
</section>

<section class="site-header">
  <h2>Doctor information</h2>
  <img src="icons/ayurveda.jpg" alt="Description of image" width="300" height="200">
  <h2>{{doctor.name}}</h2>
  <p>{{doctor.Experience}}</p>
  
  <a class="btn" href="{{hero.button_link}}">
    {{hero.button_text}}
  </a>

</section>

