<header class="site-header">
  <h1>{{data.site.title}}</h1>
</header>

<!-- TOP CAROUSEL -->
<section class="hero-carousel">
  <button class="carousel-btn prev">&#10094;</button>

  <div class="carousel-track">
    {{#each data.carousel}}
      <div class="carousel-slide">
        <img src="{{this.image}}" class="carousel-image" />

        <div class="carousel-overlay">
          <h2>{{this.title}}</h2>
          <p>{{this.subtitle}}</p>
        </div>
      </div>
    {{/each}}
  </div>

  <button class="carousel-btn next">&#10095;</button>
</section>



{{#each data.products}}
<section class="product-hero">
  <div class="product-image">
    <img src="{{this.image}}" alt="{{this.title}}">
  </div>

  <div class="product-details">
    <h2>{{this.title}}</h2>

    <p class="description">
      {{this.description}}
    </p>

    <ul class="features">
      {{#each this.features}}
        <li>— {{this}}</li>
      {{/each}}
    </ul>



   <button
  class="btn-primary order-btn"
  data-product="{{this.title}}"
>
  {{this.button_text}}
</button>

  </div>
</section>
{{/each}}

	<div id="orderModal" class="modal">
	  <div class="modal-content">
		<span class="close" onclick="closeOrderModal()">&times;</span>

		<h2>Place Order</h2>
		<p id="selectedProduct"></p>

		<input id="custName" placeholder="Your Name">
		<input id="custPhone" placeholder="Phone Number">
		<textarea id="custAddress" placeholder="Delivery Address"></textarea>

		<button onclick="placeOrder()">Send via WhatsApp</button>
	  </div>
	</div>

<script src="css/product.js"></script>



